* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contact {
    background-image: url(../img/Contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.25); 
    border-radius: 20px;
    width: 500px;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0  0, 0, 0.1)    ;
}

.contact h1 {
    font-size: var(--main-text-size);
    font-weight: 600;
    color: var(--dark-background);
    margin-bottom: 10px;
}

.contact .input-box {
    padding: 15px 20px;
    outline: none;
    font-size:  var(--secondary-text-size);
    border-radius: 5px;
    border: none;
    color: var(--dark-background);
}

.submit-btn {
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background: var(--action-background);
    outline: none;
    transition: all ease .5s;
    color: white;
    font-size: var(--secondary-text-size);
}

.submit-btn:hover {
    background-color: white;
    color: var(--action-background);
}

textarea {
    resize: none;
}

.contact-info {
    display: flex;
}

.contact-card {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    gap: 20px;
}

.contact-card i {
    font-size: 36px;
}

.card2 {
    background-color: var(--action-background);
}
.card2 i {
    color: #fff;
}
.card2 figcaption {
    color: #fff;
}

.card3 {
    background-color: var(--dark-background);
}
.card3 i {
    color: #fff;
}
.card3 figcaption {
    color: #fff;
}

@media (max-width: 768px) {
    .contact-form{
        padding: 40px;
        width: 350px;
    }
    .contact h1 {
        font-size: var(--primary-text-size);
    }
    .contact .input-box {
        padding: 10px 10px;
        font-size:  14px;
    }
    .submit-btn {
        padding: 10px 0;
        font-size:  14px;   
    }
    .contact-info {
        flex-direction: column;
    }
    .contact-card {
        width: 100%;
    }
}